<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container">
    <%= link_to "Chabacanes Activewear", root_path, class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "All Products", root_path, class: "nav-link" %>
        </li>

        <% @categories&.each do |category| %>
          <li class="nav-item">
            <%= link_to category.name, category_path(category), class: "nav-link" %>
          </li>
        <% end %>
      </ul>

      <%= link_to "Cart", cart_path, class: "btn btn-outline-light" %>
    </div>
  </div>
</nav>