<div class="container">
  <h1 class="mb-4">Shop All Products</h1>

  <div class="row">
    <% @products.each do |product| %>
      <%= render "product_card", product: product %>
    <% end %>
  </div>
</div>